[submodule "submodules/djangae"]
	path = submodules/djangae
	url = https://github.com/potatolondon/djangae.git
[submodule "submodules/django"]
	path = submodules/django
	url = https://github.com/django/django.git
        branch = stable/1.7.x
[submodule "django"]
	branch = stable/1.7.x
